GROQ_API_KEY=your_groq_api_key_here

API_PORT=8000
API_HOST=0.0.0.0

N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=change_me_please
N8N_PORT=5678

TRELLO_API_KEY=
TRELLO_TOKEN=
TRELLO_LIST_ID=


NOTION_API_KEY=
NOTION_DATABASE_ID=